In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from functools import reduce

In [4]:
df1 = pd.read_pickle('./数据库专项/0.pkl')
df2 = pd.read_pickle('./数据库专项/1.pkl')
df3 = pd.read_pickle('./数据库专项/2.pkl')
df4 = pd.read_pickle('./数据库专项/3.pkl')
df5 = pd.read_pickle('./数据库专项/4.pkl')
df6 = pd.read_pickle('./数据库专项/5.pkl')

In [43]:
df4.dropna(axis=0,inplace=True)

pos_df4 = df4.loc[df4['now_url'].str.match('.*pos')].copy()

pos_df4['cid'] = pos_df4['upper_name'].str.split('cid=',expand=True)[2]

pos_df4['pos'] = pos_df4['now_url'].str.split('pos=',expand=True)[1]

pos_df4_res = pos_df4[['now', 'pos', 'cid']].copy()

In [44]:
df5.dropna(axis=0,inplace=True)

pos_df5 = df5.loc[df5['now_url'].str.match('.*pos')].copy()

pos_df5['cid'] = pos_df5['upper_name'].str.split('cid=',expand=True)[2]

pos_df5['pos'] = pos_df5['now_url'].str.split('pos=',expand=True)[1]

pos_df5_res = pos_df5[['now', 'pos', 'cid']].copy()

In [74]:
final_df = pd.concat([pos_df5_res, pos_df4_res], sort=True)

In [76]:
final_df.head()

      cid       now pos
0  162201  自定义价格段分析  -1
1  162201        材质   2
2  162201      材质成分   3
3  162201        尺寸   9
4  162201    销售渠道类型  19

In [77]:
final_df.drop_duplicates(keep='first', inplace=True)

In [78]:
final_df.columns = ['cid', 'pos_name', 'pos']

In [79]:
final_df['cid'] = pd.to_numeric(final_df['cid'])
final_df['pos'] = pd.to_numeric(final_df['pos'])

In [80]:
have_df = pd.read_pickle('category_pos.pkl')

In [81]:
have_df.drop(columns=['id'], inplace=True)

In [82]:
res_df = pd.concat([final_df, have_df], sort=True)

In [83]:
res_df.drop_duplicates(keep=False, inplace=True)

In [84]:
res_df.to_pickle('comple_category_pos.pkl')

In [85]:
res_df.shape

(9203, 3)

In [86]:
final_df.shape

(12462, 3)

In [87]:
have_df.shape

(3309, 3)