In [3]:
import numpy as np
import pandas as pd
import csv
mendianhao=input ('输入门店编号:')
df_mendian=pd.DataFrame(pd.read_csv('python_2.csv',header=0))

# df_mendian
#数据加载导入|

输入门店编号:1

In [4]:
df_tiqugongzuor=df_mendian.loc[(df_mendian['时'] < 23) & (df_mendian['时'] >8) & (df_mendian['节假日']=='工作日'), ['节假日','时','总金额']]#与条件的数据提取,保留维度'节假日','时','总金额
df_tiquzhoumo=df_mendian.loc[(df_mendian['时'] < 23) & (df_mendian['时'] >8) & (df_mendian['节假日']=='周末'), ['节假日','时','总金额']]#与条件的数据提取,保留维度'节假日','时','总金额
# print(df_tiqugongzuor,df_tiquzhoumo)

In [5]:
df_tousi1=pd.pivot_table(df_tiqugongzuor,index=["时"],values=["总金额"],aggfunc=[sum],fill_value=0)
df_tousi1['排序'] =df_tousi1['sum']/df_tousi1['sum'].sum()
# df_tousi2 =df_tousi1.reset_index()#合并索引
# df_tousi1

In [6]:
a=df_tousi1.query('8<时<13').排序.max()#maxifs 条件求最大值
b=df_tousi1.query('12<时<16').排序.max()#maxifs 条件求最大值
c=df_tousi1.query('15<时<21').排序.max()#maxifs 条件求最大值
d=df_tousi1.query('19<时<24').排序.max()#maxifs 条件求最大值
e=max(b-a,c-d)
def gonzuori(f):
  df_yitian=pd.DataFrame(index=['zhao','zhong','wan'])#
  i1=1
  for i in f:
    zhao=i*(a/(a+e+d))
    zhong=i*(e/(a+e+d))
    wan=i*(d/(a+e+d))
    df_yitian[i1]=np.rint(pd.DataFrame([zhao,zhong,wan],index=['zhao','zhong','wan'],columns=[i]))
    i1=i1+1
  return df_yitian

In [7]:
df_tousi3=pd.pivot_table(df_tiquzhoumo,index=["时"],values=["总金额"],aggfunc=[sum],fill_value=0)
df_tousi3['排序'] =df_tousi3['sum']/df_tousi3['sum'].sum()
# df_tousi4 =df_tousi3.reset_index()#合并索引
# df_tousi4
a2=df_tousi3.query('8<时<13').排序.max()#maxifs 条件求最大值
b2=df_tousi3.query('12<时<16').排序.max()#maxifs 条件求最大值
c2=df_tousi3.query('15<时<21').排序.max()#maxifs 条件求最大值
d2=df_tousi3.query('19<时<24').排序.max()#maxifs 条件求最大值
# a2=df_tousi3.query('8<时<14').排序.max()#maxifs 条件求最大值
# b2=df_tousi3.query('13<时<16').排序.max()#maxifs 条件求最大值
# c2=df_tousi3.query('15<时<21').排序.max()#maxifs 条件求最大值
# d2=df_tousi3.query('20<时<24').排序.max()#maxifs 条件求最大值
e2=max(b2-a2,c2-d2)
def zhoumo(f):
  df_yitian2=pd.DataFrame(index=['zhao','zhong','wan'])#
  i1=1
  for i in f:
    zhao=i*(a2/(a2+e2+d2))
    zhong=i*(e2/(a2+e2+d2))
    wan=i*(d2/(a2+e2+d2))
#     df_yitian2[i1]=np.rint(pd.DataFrame([zhao,zhong,wan],columns=[i]))
    df_yitian2[i1]=np.rint(pd.DataFrame([zhao,zhong,wan],index=['zhao','zhong','wan'],columns=[i]))
    i1=i1+1
  return df_yitian2

In [9]:
a11=df_tousi1.query('8<时<16').排序.sum()#maxifs 条件求最大值
b11=df_tousi1.query('13<时<21').排序.sum()#maxifs 条件求最大值
c11=df_tousi1.query('15<时<23').排序.sum()#maxifs 条件求最大值
a21=df_tousi3.query('8<时<16').排序.sum()#maxifs 条件求最大值
b21=df_tousi3.query('13<时<21').排序.sum()#maxifs 条件求最大值
c21=df_tousi3.query('15<时<23').排序.sum()#maxifs 条件求最大值
# print(a1,b1,c1)
df_riquanzhon=pd.DataFrame({"班次":['早','中','晚'],'工作日':[a11,b11,c11],'周末':[a21,b21,c21]})
print(df_riquanzhon)

  班次       工作日        周末
0  早  0.365760  0.406528
1  中  0.690576  0.709776
2  晚  0.634240  0.593472

In [7]:
df_zouchi=pd.DataFrame(pd.read_csv('python_3.csv',header=0))#加载天的数据
df_zouchi
df_tousi4=pd.pivot_table(df_zouchi,index=["年份周"],columns=["星期"],values=["去除节假日"],aggfunc=[sum],fill_value=0)
df_tousi4=df_tousi4.replace(0,np.nan)
for i in df_tousi4.columns:#取出所以列
    df_tousi4[i] = df_tousi4[i].fillna(df_tousi4[i].mean())
df_tousi4.head()

                 sum                                                          \
               去除节假日
星期                 1             2             3             4             5
年份周
201601  1.708146e+07  1.776812e+07  1.615116e+07  1.690345e+07  1.819540e+07
201602  1.413878e+07  1.329333e+07  1.425643e+07  1.463430e+07  1.652513e+07
201603  1.684472e+07  1.840839e+07  1.933961e+07  1.972625e+07  2.321074e+07
201604  2.624422e+07  3.932484e+07  2.980898e+07  3.152130e+07  3.117296e+07
201605  4.954937e+07  1.043738e+08  4.249894e+07  4.086294e+07  4.917221e+07



星期                 6             7
年份周
201601  2.841953e+07  3.079244e+07
201602  2.923103e+07  3.230901e+07
201603  4.086401e+07  4.706633e+07
201604  4.828682e+07  5.882367e+07
201605  6.935299e+07  3.079244e+07

In [8]:
df_tousi5=df_tousi4.stack().reset_index()#二维表又转化成1维表
df_tousi5.columns
# print(df_tousi5.head())
df_quanzhon=pd.pivot_table(df_tousi5,index=["星期"],values=["sum"],aggfunc=[np.mean],fill_value=0)
df_quanzhon

c:\users\zhh\Envs\py3\lib\site-packages\pandas\core\generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

            mean
             sum
           去除节假日
星期
1   1.708146e+07
2   1.776812e+07
3   1.615116e+07
4   1.690345e+07
5   1.819540e+07
6   2.841953e+07
7   3.079244e+07

In [9]:
df_renyuan=pd.DataFrame(pd.read_excel('百年德化一店导购人员名单.xlsx',header=0))#人员名单加入
min1=df_quanzhon.min()#取最小值
zhonren=df_renyuan.shape[0]
tem = df_quanzhon.copy(deep=True)
tem.columns = ["_".join(x) for x in tem.columns.ravel()]#连接多重索引
tem=tem.reset_index()#合并空的多层索引
tem['权重']=tem.iloc[:,1]/(min1[0])#新计算一列为权重
max1=tem['权重'].max()
# print(max1)
tem['人数']=(tem['权重']*zhonren)/(max1)
# M1=zhonren*4
# M2=M1*tem.iloc[[0],[1]]/tem.iloc[:5,:2].sum()
# M3=M1*tem.iloc[[0],[1]]/tem.iloc[:5,:2].sum()
# M4=M1*tem.iloc[[0],[1]]/tem.iloc[:5,:2].sum()
# M5=M1*tem.iloc[[0],[1]]/tem.iloc[:5,:2].sum()
# M6=M1*tem.iloc[[0],[1]]/tem.iloc[:5,:2].sum()
tem['人数']=(23,24,22,23,25,30,30)
#临时对人员分布的安排
l=tem['人数']
# print(tem.iloc[:5,:2].sum())
print(l)
df_gongzuori1=gonzuori(l)
df_gongzuori1['班次']=['早班','中班','晚班',]
df_gongzuori1['时间']=['9.00-17：30','12：00-20：30','14：00-22：30',]
df_gongzuori1.columns=['1','2','3','4','5','6','7',"班次",'时间']

0    23
1    24
2    22
3    23
4    25
5    30
6    30
Name: 人数, dtype: int32

In [157]:
df_zhoumo1=zhoumo(l)
df_zhoumo1.columns=['1','2','3','4','5','6','7']
# df_zhoumo1

In [158]:
# print(df_gongzuori1,df_zhoumo1)
df_shucu=df_gongzuori1
df_shucu[["6",'7']]=df_zhoumo1[['6','7']]
# df_shucu.loc[:,["6",'7']]=df_zhoumo1.loc[:,['6','7']]
df_shucu

          1     2     3     4     5     6     7  班次            时间
zhao    7.0   7.0   6.0   7.0   7.0  10.0  10.0  早班  8:00 - 16:00
zhong   5.0   5.0   5.0   5.0   5.0   9.0   9.0  中班   14:00-21:00
wan    12.0  12.0  11.0  12.0  13.0  12.0  12.0  晚班   16:00-23:00

In [159]:
df_renyuan

   营业员姓名  性别
0    李贺平  女装
1    廖燕华  男装
2    赵梦含  女装
3    杨慧杰  男装
4    冯双双  男装
5    侯云霞  女装
6    赵慧明  男装
7    郭冲冲  女装
8    刑丹丹  男装
9    韩笑笑  男装
10    刘乐  女装
11    孙影  男装
12   韩丽娟  女装
13    张宁  男装
14   刘亚芳  男装
15   郝盼盼  女装
16   牛晓晓  男装
17   师文俊  女装
18   李改改  男装
19   杨小贤  男装
20   丁明梅  女装
21   李龙飞  男装
22   徐莎莎  女装
23   张苗苗  男装
24    王婷  男装
25   王元少  女装
26   张玲玲  男装
27   李丽娟  女装
28   程慧霞  男装

In [160]:
df_renyuan=pd.DataFrame(pd.read_excel('百年德化一店导购人员名单.xlsx',header=0))#人员名单加入
j=[1,2,3,4,5,6,7]
k=0
# df_renyuan.loc[i,'星期一'] = df_renyuan[(df_renyuan["年份周(20161)"]<=df_shujuyuan1.loc[i,'年份周(20161)']) & (df_shujuyuan1["行政省份名称"]==df_shujuyuan1.loc[i,"行政省份名称"])]['以下项目的总和:当期零售金额'].sum()
for x in j:
    i=0
    x2=str(x)
    while i < (zhonren):
        if i < (df_shucu.loc['zhao',x2]):
            if (i+k)>=(zhonren):
                m=(i+k-zhonren)
                df_renyuan.loc[m,x] ='早'
            else:
                m=i+k
                df_renyuan.loc[m,x] ='早'
        elif i< (df_shucu.loc['zhao',x2])+(df_shucu.loc['zhong',x2]):
            if (i+k)>=(zhonren):
                m=(i+k-zhonren)
                df_renyuan.loc[m,x] ='中'
            else:
                m=i+k
                df_renyuan.loc[m,x] ='中'
        elif i< (df_shucu.loc['wan',x2])+(df_shucu.loc['zhao',x2])+(df_shucu.loc['zhong',x2]):
            if (i+k)>=(zhonren):
                m=(i+k-zhonren)
                df_renyuan.loc[m,x] ='晚'
            else:
                m=i+k
                df_renyuan.loc[m,x] ='晚'
            k1=i+1
        i=i+1
    k=k1+k
    if k>zhonren:
        k=k-zhonren
df_renyuan

   营业员姓名  性别    1    2    3    4    5  6  7
0    李贺平  女装    早    早    中    晚    晚  晚  晚
1    廖燕华  男装    早    早    晚    晚    晚  晚  晚
2    赵梦含  女装    早    中    晚    晚    晚  晚  晚
3    杨慧杰  男装    早    中    晚    晚  NaN  早  早
4    冯双双  男装    早    中    晚    晚  NaN  早  早
5    侯云霞  女装    早    中    晚    晚  NaN  早  早
6    赵慧明  男装    早    中    晚    晚  NaN  早  早
7    郭冲冲  女装    中    晚    晚  NaN    早  早  早
8    刑丹丹  男装    中    晚    晚  NaN    早  早  早
9    韩笑笑  男装    中    晚    晚  NaN    早  早  早
10    刘乐  女装    中    晚    晚  NaN    早  早  早
11    孙影  男装    中    晚    晚  NaN    早  早  早
12   韩丽娟  女装    晚    晚  NaN    早    早  早  早
13    张宁  男装    晚    晚  NaN    早    早  中  中
14   刘亚芳  男装    晚    晚  NaN    早    中  中  中
15   郝盼盼  女装    晚    晚  NaN    早    中  中  中
16   牛晓晓  男装    晚    晚  NaN    早    中  中  中
17   师文俊  女装    晚    晚  NaN    早    中  中  中
18   李改改  男装    晚    晚  NaN    早    中  中  中
19   杨小贤  男装    晚  NaN    早    中    晚  中  中
20   丁明梅  女装    晚  NaN    早    中    晚  中  中
21   李龙飞  男装    晚  NaN    早    中    晚  中  中
22   徐莎莎  女装    晚  NaN    早    中    晚  晚  晚
23   张苗苗  男装    晚  NaN    早    中    晚  晚  晚
24    王婷  男装  NaN    早    早    晚    晚  晚  晚
25   王元少  女装  NaN    早    中    晚    晚  晚  晚
26   张玲玲  男装  NaN    早    中    晚    晚  晚  晚
27   李丽娟  女装  NaN    早    中    晚    晚  晚  晚
28   程慧霞  男装  NaN    早    中    晚    晚  晚  晚

In [32]:
# df_riquanzhon

In [170]:
for i in [1,2,3,4,5,6,7]:
    df_riquanzhon[i]=0
    df_riquanzhon[i]=df_riquanzhon['班次']
# df_riquanzhon

In [171]:
# pd.merge(df_renyuan,df_riquanzhon,on=1,how='left')

In [172]:
# df_renquanzhong=pd.DataFrame(pd.read_excel('导购名单.xlsx',header=0))#人员名单加入
# df_renyuan2=df_renyuan
# print(tem.ix[0,'权重'])
# for i in [1,2,3,4,5]:
#     df_lingsishuju=pd.merge(df_renyuan,df_riquanzhon,on=i,how='left')
#     j=tem.ix[i-1,'权重']
#     df_renquanzhong[i]=df_lingsishuju['工作日']
# for i in [6,7]:
#     df_lingsishuju=pd.merge(df_renyuan2,df_riquanzhon,on=i,how='left')
#     df_renquanzhong[i]=df_lingsishuju['周末']
# df_renquanzhong
# # df_renyuan[1]
# # df_riquanzhon[1]
# # print(df_riquanzhon['1'])
# # pd.merge(df_renyuan,df_riquanzhon,on="1",how='inner')

In [173]:
df_renquanzhong=pd.DataFrame(pd.read_excel('百年德化一店导购人员名单.xlsx',header=0))#人员名单加入
df_renyuan2=df_renyuan
print(tem.ix[0,'权重'])
for i in [1,2,3,4,5]:
    df_lingsishuju=pd.merge(df_renyuan,df_riquanzhon,on=i,how='left')
    j=tem.ix[i-1,'权重']
    df_renquanzhong[i]=df_lingsishuju['工作日']*j
for i in [6,7]:
    df_lingsishuju=pd.merge(df_renyuan2,df_riquanzhon,on=i,how='left')
    j=tem.ix[i-1,'权重']
    df_renquanzhong[i]=df_lingsishuju['周末']*j
# df_renquanzhong
# df_renyuan[1]
# df_riquanzhon[1]
# print(df_riquanzhon['1'])
# pd.merge(df_renyuan,df_riquanzhon,on="1",how='inner')

1.057599093344942

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

In [174]:
df_renquanzhong=df_renquanzhong.fillna(0)
df_renquanzhong['总和']=df_renquanzhong[1]+df_renquanzhong[2]+df_renquanzhong[3]+df_renquanzhong[4]+df_renquanzhong[5]+df_renquanzhong[6]+df_renquanzhong[7]
df_renquanzhong

,营业员姓名,性别,1,2,3,4,5,6,7,总和
0,李贺平,女装,0.386827,0.402377,0.690576,0.663782,0.714516,1.044271,1.131463,5.033813
1,廖燕华,男装,0.386827,0.402377,0.634240,0.663782,0.714516,1.044271,1.131463,4.977477
2,赵梦含,女装,0.386827,0.759712,0.634240,0.663782,0.714516,1.044271,1.131463,5.334812
3,杨慧杰,男装,0.386827,0.759712,0.634240,0.663782,0.000000,0.715325,0.775052,3.934939
4,冯双双,男装,0.386827,0.759712,0.634240,0.663782,0.000000,0.715325,0.775052,3.934939
5,侯云霞,女装,0.386827,0.759712,0.634240,0.663782,0.000000,0.715325,0.775052,3.934939
6,赵慧明,男装,0.386827,0.759712,0.634240,0.663782,0.000000,0.715325,0.775052,3.934939
7,郭冲冲,女装,0.730353,0.697737,0.634240,0.000000,0.412053,0.715325,0.775052,3.964760
8,刑丹丹,男装,0.730353,0.697737,0.634240,0.000000,0.412053,0.715325,0.775052,3.964760
9,韩笑笑,男装,0.730353,0.697737,0.634240,0.000000,0.412053,0.715325,0.775052,3.964760
10,刘乐,女装,0.730353,0.697737,0.634240,0.000000,0.412053,0.715325,0.775052,3.964760
11,孙影,男装,0.730353,0.697737,0.634240,0.000000,0.412053,0.715325,0.775052,3.964760
12,韩丽娟,女装,0.670772,0.697737,0.000000,0.382796,0.412053,0.715325,0.775052,3.653735
13,张宁,男装,0.670772,0.697737,0.000000,0.382796,0.412053,1.248920,1.353199,4.765477
14,刘亚芳,男装,0.670772,0.697737,0.000000,0.382796,0.777981,1.248920,1.353199,5.131405
15,郝盼盼,女装,0.670772,0.697737,0.000000,0.382796,0.777981,1.248920,1.353199,5.131405
16,牛晓晓,男装,0.670772,0.697737,0.000000,0.382796,0.777981,1.248920,1.353199,5.131405
17,师文俊,女装,0.670772,0.697737,0.000000,0.382796,0.777981,1.248920,1.353199,5.131405
18,李改改,男装,0.670772,0.697737,0.000000,0.382796,0.777981,1.248920,1.353199,5.131405
19,杨小贤,男装,0.670772,0.000000,0.365760,0.722742,0.714516,1.248920,1.353199,5.075907
20,丁明梅,女装,0.670772,0.000000,0.365760,0.722742,0.714516,1.248920,1.353199,5.075907
21,李龙飞,男装,0.670772,0.000000,0.365760,0.722742,0.714516,1.248920,1.353199,5.075907
22,徐莎莎,女装,0.670772,0.000000,0.365760,0.722742,0.714516,1.044271,1.131463,4.649524
23,张苗苗,男装,0.670772,0.000000,0.365760,0.722742,0.714516,1.044271,1.131463,4.649524
24,王婷,男装,0.000000,0.402377,0.365760,0.663782,0.714516,1.044271,1.131463,4.322169
25,王元少,女装,0.000000,0.402377,0.690576,0.663782,0.714516,1.044271,1.131463,4.646986
26,张玲玲,男装,0.000000,0.402377,0.690576,0.663782,0.714516,1.044271,1.131463,4.646986
27,李丽娟,女装,0.000000,0.402377,0.690576,0.663782,0.714516,1.044271,1.131463,4.646986
28,程慧霞,男装,0.000000,0.402377,0.690576,0.663782,0.714516,1.044271,1.131463,4.646986

In [177]:
with pd.ExcelWriter('D:\排班文档.xlsx') as writer: 
    df_renyuan.to_excel(writer, sheet_name='人员排班')
    df_shucu.to_excel(writer, sheet_name='班次安排')
    df_renquanzhong.to_excel(writer, sheet_name='测试文档')